/* Styles for the role selection buttons */
.role-selection {
    padding: 10px;
  }
  
  .role-active {
    background-color: #0d6efd; /* Bootstrap primary color */
    color: white;
    cursor: pointer;
  }
  
  .role-inactive {
    background-color: #f8f9fa; /* Bootstrap light color */
    cursor: pointer;
  }

  .register {
    padding: 10px 0 0;
  }

  .register a {
    text-decoration: none;
    padding: 10px;
  }
  